.mycard {
    min-width: 300px;
    width: 300px;
    height: auto;
    min-height: 350px;
    opacity: 1;
    border: dotted 3px whitesmoke;
    position: relative;
}

.add {
    position: absolute;
    top: 35%;
    left: 23%;
    padding: 10px;
    color: white;
    background: #000000;
    cursor: pointer;
    font-weight: 500;
}